body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(white, rgb(187, 218, 212), rgb(195, 224, 241));
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 13px;
  background-attachment: fixed;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#container {
  flex: 5;
  padding: 0;
  margin: 90px 150px 90px 20px;
  max-width: 80%;
}

#navbar {
  flex: 1;
  display: flex;
  margin: 90px 10% 90px 5%;
  text-align: right;
}

#nav-container {
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

#nav-container-small {
  text-align: center;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.link:active {
  background-color: rgba(255, 255, 255, 0.493);
}

#nav-icon {
  display: none
}

#about {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 45px 45px 45px 20px;
  right: 10px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.705);
}

.home-link {
  display: inline-block;
  margin: 20px 0px 30px 15px;
  padding: 10px 2px 10px 10px;
  font-size: 22px;
  text-shadow: none;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.74);
}

.nav-link {
  display: inline-block;
  margin: 15px;
  padding: 10px;
  color: rgb(107, 105, 105);
  font-size: 18px;
  text-shadow: 1px 2px 4px rgb(161, 161, 161);
}

.nav-link:hover {
  text-shadow: 1px 2px 15px rgb(255, 255, 255);
  color: rgb(28, 29, 34);
  font-weight: 500;
}

#icon {
  height: 35px;
  display: inline-block;
}

#my-portrait {
  display: flex;
  height: 500px;
  margin-right: 0px;
  flex-direction: row-reverse;
}

#my-portrait img {
  height: 480px;
}

#intro {
  padding: 0 50px 0 10px;
}

#intro p {
  padding-bottom: 15px;
  line-height: 20px;
}

#projects {
  width: 100%;
  padding: 45px;
}

#designs {
  width: 100%;
  padding: 45px;
}

#contact {
  width: 100%;
  padding: 45px 45px 45px 20px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
}

#landing {
  width: 100%;
  padding: 45px 45px 45px 20px;
  right: 10px;
}

.project {
  height: 250px;
  width: 480px;
  border-radius: 10px 10px 0 0;
}

.singleProject {
  float: right;
  width: 480px;
  padding: 0 30px 60px 30px;
}

.design {
  height: 480px;
  text-align: center;
}

.loading {
  height: 480px;
}

.singleDesign {
  float: right;
  width: 340px;
  padding: 0 30px 60px 30px;
}

h1 {
  margin: 5px 0px 10px 0px;
  font-size: 20px;
}

.description {
  padding: 10px;
  background-color: rgba(240, 248, 255, 0.322);
  border-radius: 0 0 10px 10px;
}

.github-icon {
  display: inline-block;
  margin-left: 10px;
  height: 20px;
}

.long {
  height: 1000px;
}

.short {
  height: 400px;
}

.extrashort {
  height: 50px;
}

.medium {
  height: 700px;
}

#draw {
  color: rgb(120, 94, 155);
}

#sing {
  color: rgb(223, 84, 84);
}

#design {
  color: rgb(124, 77, 109);
}

#ido {
  color: rgb(255, 255, 255);
}

h1 {
  margin: 5px 0px 10px 0px;
  font-size: 20px;
}


h2 {
  font-size: 18px;
  color: rgb(30, 122, 113);
}

h3 {
  font-size: 16px;
  color: rgb(41, 85, 134);
}

h4 {
  font-size: 14px;
}

form {
  width: 490px;
  font-size: 16px;
}

.form-element {
  padding: 10px 10px 10px 0;
}

textarea {
  background-color: rgba(255, 255, 255, 0.712);
  border: none;
  width: 100%;
  height: 200px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
}

input {
  background-color: rgba(255, 255, 255, 0.712);
  border: none;
  width: 100%;
  font-size: 15px;
  height: 20px;
  font-weight: 200;
  margin-top: 10px;
}

button {
  margin-left: 0;
  border: none;
  border-radius: 5px;
}

.connect-icon {
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}
.connect-icon-small {
  display: inline-block;
  margin-right: 10px;
  height: 26px;
}

.column-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#connect {
  padding-left: 10px;
  padding-bottom: 20px;
}

@media (max-width: 1132px) {
  #about {
    flex-direction: column;
    padding-right: 0;
    width: 100%;
  }

  #intro {
    padding: 30px 0 0 0;
  }

  #my-portrait {
    display: flex;
    height: 500px;
    flex-direction: row;
  }

  #my-portrait img{
    display: flex;
    height: 500px;
    flex-direction: row;
  }
}

@media (max-width: 1025px) {
  /* projects */
  /* contact */
  #my-portrait {
    display: flex;
    height: 50vw;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.308);
  }
  #my-portrait img{
    height: 50vw;
  }

  #navbar {
    flex: 1;
    display: flex;
    margin: 90px 10% 90px 5%;
    text-align: right;
  }

  #nav-container {
    margin: 20px 20px 20px 0px;
  }

}

@media (max-width: 850px) {
  #app {
    display: block;
  }

  #navbar {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  #nav-container {
    display: none;
    margin: 0;
    padding: 0;
  }

  #nav-container-small {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(150, 200, 230, 0.568);
    margin: 0;
    display: none;
  }

  #nav-icon {
    height: 50px;
    width: 98%;
    display: block;
    position: fixed;
    background-color: rgba(150, 200, 230, 0.568);
    border-radius: 7px;
    margin: 1%;
  }

  #nav-icon img {
    height: 30px;
    padding: 10px;
  }

  #container {
    margin: auto;
  }

  #about {
    width: auto;
    right: 0;
    padding: 25% 0;
  }

  #landing {
    width: auto;
    right: 0;
    padding: 30% 3%;
    margin-top: 50px;
  }

  #contact {
    width: auto;
    right: 0;
    padding: 30% 2%;
    justify-content: center;
  }

  #projects {
    width: auto;
    right: 0;
    padding: 40% 1%;
  }

  #designs {
    width: auto;
    right: 0;
    padding: 40% 2%;
  }

  form {
    width: 100%;
  }

  #connect {
    text-align: center;
    padding: 0;
  }

  .singleProject {
    width: 100%;
    float: none;
    text-align: center;
    margin: auto;
    padding: 0 0 10% 0;
  }

  .singleDesign {
    float: none;
    justify-content: center;
    width: 100%;
    padding: 0 0 10% 0;
  }

  .design {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .project {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  
  .description {
    padding: 10px 0 10px 0;
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 500px) {
  #contact {
    width: auto;
    right: 0;
    padding: 2%;
    justify-content: center;
  }

  #my-portrait {
    display: flex;
    height: 80vw;
    justify-content: center;
    background-color: transparent;
  }
  #my-portrait img{
    height: 80vw;
  }

  #landing {
    width: auto;
    right: 0;
    padding: 200px 2%;
  }
}