body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(white, rgb(187, 218, 212), rgb(195, 224, 241));
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 13px;
  background-attachment: fixed;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#container {
  flex: 5;
  padding: 0;
  margin: 90px 200px 90px 20px;
  max-width: 60%;
}

#navbar {
  flex: 1;
  display: flex;
  margin: 90px 100px;
  max-width: 25%;
  text-align: right;
}

#nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

#about {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 45px;
  right: 10px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.705);
}

.home-link {
  display: inline-block;
  margin: 20px 0px 30px 15px;
  padding: 10px 2px 10px 10px;
  font-size: 22px;
  text-shadow: none;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.74);
}

.nav-link {
  display: inline-block;
  margin: 15px;
  padding: 10px;
  color: rgb(107, 105, 105);
  font-size: 18px;
  text-shadow: 1px 2px 4px rgb(161, 161, 161);
}

.nav-link:hover {
  text-shadow: 1px 2px 15px rgb(255, 255, 255);
  color: rgb(28, 29, 34);
  font-weight: 500;
}

#icon {
  height: 35px;
  display: inline-block;
}

#my-portrait {
  display: flex;
  height: 500px;
  margin-right: 0px;
  flex-direction: row-reverse;
}

#my-portrait img {
  height: 480px;
}

#intro {
  padding: 0 50px;
}

#intro p {
  padding-bottom: 15px;
  line-height: 20px;
}

#projects {
  width: 100%;
  padding: 45px;
}

#designs {
  width: 100%;
  padding: 45px;
}

#contact {
  width: 100%;
  padding: 45px;
  margin: auto;
}

#landing {
  width: 100%;
  padding: 45px;
  right: 10px;
}

.project {
  height: 250px;
  width: 480px;
  border-radius: 10px 10px 0 0;
}

.singleProject {
  float: right;
  width: 480px;
  padding: 0 30px 60px 30px;
}

.design {
  height: 480px;
  display: none;
  text-align: center;
}

.loading {
  height: 480px;
}

.singleDesign {
  float: right;
  width: 340px;
  padding: 0 30px 60px 30px;
}

h1 {
  margin: 5px 0px 10px 0px;
  font-size: 20px;
}

.description {
  padding: 10px;
  background-color: rgba(240, 248, 255, 0.322);
  border-radius: 0 0 10px 10px;
}

.github-icon {
  display: inline-block;
  margin-left: 10px;
  height: 20px;
}

.long {
  height: 1000px;
}

.short {
  height: 400px;
}

.extrashort {
  height: 100px;
}

.medium {
  height: 700px;
}

#draw {
  color: rgb(120, 94, 155);
}

#sing {
  color: rgb(223, 84, 84);
}

#design {
  color: rgb(124, 77, 109);
}

#ido {
  color: rgb(255, 255, 255);
}

h1 {
  margin: 5px 0px 10px 0px;
  font-size: 20px;
}


h2 {
  font-size: 18px;
  color: rgb(30, 122, 113);
}

h3 {
  font-size: 16px;
  color: rgb(41, 85, 134);
}

h4 {
  font-size: 14px;
}

form {
  width: 50%;
  font-size: 16px;
}

.form-element {
  padding: 10px;
}

textarea {
  background-color: rgba(255, 255, 255, 0.712);
  border: none;
  width: 100%;
  height: 200px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
}

input {
  background-color: rgba(255, 255, 255, 0.712);
  border: none;
  width: 100%;
  font-size: 15px;
  height: 20px;
  font-weight: 200;
  margin-top: 10px;
}

button {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.connect-icon {
  display: inline-block;
  margin-left: 10px;
  height: 30px;
}
.connect-icon-small {
  display: inline-block;
  margin-left: 10px;
  height: 26px;
}

.column-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#connect {
  padding-left: 50px;
  padding-bottom: 20px;
}